        @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
        .header {
            align-items: center;
            justify-content: space-around;
        }
        
        .main {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding: 30px;
            margin: auto;
            gap: 5px 15px;
        }
        
        .poster {
            width: 18%;
            /* background-color: rgb(197, 12, 12); */
            /* height: auto; */
            margin: auto;
            margin-top: 5%;
            /* padding: 5px; */
            border-radius: 10px;
            position: relative;
            overflow: hidden;
        }
        
        body {
            background-image: url(/assets/image/netflix-background.jpg);
            background-position: center center;
            /* background-repeat: no-repeat; */
        }
        
        .overlay {
            width: 100VW;
            background-color: black;
            position: absolute;
            border-radius: 10px;
            height: 100%;
            justify-content: center;
            align-items: center;
            transition: 2s;
            opacity: 0;
        }
        
        .overlay:hover {
            opacity: 1;
            cursor: pointer;
        }
        /* .poster-image {
    width: 100vh;
    border-radius: 10px;
    height: 100%;
} */
        /* .all-content {
    width: 100%;
    height: 100%;
} */
        /* .video {
    width: 100%;
    height: 50%;
    /* background-color: yellow; */
        
        .rating {
            width: 100%;
            height: 50%;
            /* margin: auto; */
            /* display: grid; */
            /* padding: 50px; */
            align-items: center;
            /* justify-content: center; */
            /* grid-template-columns: 1fr 1fr 5fr 1fr; */
            /* padding: 5px; */
            /* background-color: rgb(0, 60, 255); */
            font-family: roboto;
            font-weight: bolder;
            color: white;
        }
        
        .header {
            background-color: black;
            opacity: 0.9;
            z-index: 10;
            position: fixed;
        }
        
        @media screen and (max-width: 600px) {
            .poster {
                width: 50vw;
            }
            .main {
                padding-top: 15%;
            }
            .rating {
                width: 25vw;
                justify-content: end;
                align-items: center;
                display: flex;
                flex-direction: column;
            }
            .search {
                border-radius: none;
                padding: auto;
                /* margin: auto; */
                /* margin-right: 80%; */
                cursor: pointer;
            }
        }